---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="raymondreamer">
   <main>
      <!-- HOME -->
      <section class="w-full">
         <div class="relative z-10 h-screen">
            <spline-viewer url="https://prod.spline.design/MGue5aGRPW4o3O6K/scene.splinecode" class="w-full h-screen absolute top-0"></spline-viewer>
         </div>
         <div class="w-full h-auto flex justify-center pt-20 pb-20">
            <div class="w-5/6 md:w-3/4 lg:w-1/3 xl:w-2/5 2xl:w-1/3 h-full p-6 lg:p-8 flex flex-col bg-black/30 backdrop-blur-md shadow-lg rounded-lg border border-gray-600 mt-[-100vh] font-mono relative z-10">
               <spline-viewer url="https://prod.spline.design/TmXL0dRWB4pSsfsm/scene.splinecode" class="w-full h-[300px] mb-6"></spline-viewer>
               <p class="text-gray-200 text-md mb-6">Hey - I'm a designer and developer always up to something with experimental design and web development. Based in San Diego, CA, I specialize in Threejs, 3D world creation and I'm very proficient with headless CMS and content management systems. I usually like to work in Next.js and TypeScript enviroments.</p>
               <p class="text-gray-200 text-md mb-6">I'm Constantly exploring the latest in technology, and am on a perpetual journey of learning and innovation to push the boundaries of digital interaction and design.</p>
               <p class="text-gray-200 text-md mb-6">Below, are some of my projects.</p>
            </div>
         </div>
      </section>
      <!-- PROJECTS -->
      <section id="projects" class="bg-black w-full p-6">
         <h2 class="text-white w-full text-center font-mono uppercase font-bold text-2xl mb-8">Projects</h2>
         <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Project 1 -->
            <div class="project-box h-auto p-4 border-gray-600 border rounded-xl">
               <div class="w-full rounded-md border h-auto mb-2 overflow-hidden border-gray-600/25">
                  <img src="/images/Reality Designers.png" alt="Reality Designers" class="object-cover w-full h-full" />
               </div>
               <span class="text-lg font-mono text-white">Reality Designers</span>
            </div>
            <!-- Project 2 -->
            <div class="project-box h-auto p-4 border-gray-600 border rounded-xl">
               <div class="w-full rounded-md border h-auto mb-2 overflow-hidden border-gray-600/25">
                  <img src="/images/Rythm.png" alt="Rythm" class="object-cover w-full h-full" />
               </div>
               <span class="text-lg font-mono text-white">Rythm Algorithmic Day Trading Strategies</span>
            </div>
            <!-- Repeat for more projects -->
         </div>
      </section>
   </main>
</Layout>
<Footer />
