---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="raymondreamer">
   <main class="w-full">
      <div class="sticky top-0 z-10 min-h-screen relative">
         <spline-viewer url="https://prod.spline.design/MGue5aGRPW4o3O6K/scene.splinecode" class="w-full h-screen absolute"></spline-viewer>
         <div class="relative z-20 min-h-screen flex justify-center items-center"></div>
      </div>
      <div class="w-full h-auto flex justify-center pt-20 pb-20">
         <div class="w-5/6 md:w-3/4 lg:w-1/3 xl:w-2/5 2xl:w-1/3 h-full p-6 lg:p-8 flex flex-col bg-black/50 backdrop-blur-xl shadow-lg rounded-lg border border-gray-600 mt-[-100vh] font-mono relative z-10">
            <spline-viewer url="https://prod.spline.design/TmXL0dRWB4pSsfsm/scene.splinecode" class="w-full h-[300px] mb-6"></spline-viewer>
            <h2 class="text-white text-center font-semibold text-4xl mb-4">Hey, I'm Raymond</h2>
            <p class="text-gray-400 text-md mb-6">A designer and developer with a passion for experimental design and technology. Based in San Diego, CA, I craft engaging experiences through 3D animation and virtual world creation. I'm proficient with headless CMS, content management systems, and specialize in Next.js and TypeScript development.</p>
            <p class="text-gray-400 text-md">I'm Constantly exploring the latest in technology, I'm on a perpetual journey of learning and innovation to push the boundaries of digital interaction and design.</p>
         </div>
      </div>
   </main>

   <Footer />
</Layout>
