---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="raymondreamer">
   <main class="w-full flex-cols h-screen bg-black"></main>
   <Footer />
</Layout>
