---
import logo from "/src/images/white-logo.gif";
---

<nav
  class="flex items-center justify-between flex-wrap fixed w-full z-20 top-0"
>
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/" class="w-12 ml-4 pt-4 lg:w-16 lg:pt-8 absolute z-20">
      <img src={logo} alt="logo" /><img />
    </a>
    <div class="absolute flex-row z-20 pt-4 pl-16 lg:pt-8 lg:pl-20">
      <a href="/">
        <h2
          class="text-white text-md lead lg:text-2xl font-extrabold font-sans"
        >
          R A Y M O N D R E A M E R
        </h2>
      </a>
    </div>
  </div>

  <div class="block lg:hidden">
    <button
      id="nav-toggle"
      class="flex items-center hover:bg-slate-200 bg-white relative mt-4 mr-4 z-20 px-4 py-4 border text-gray-500 hover:text-black hover:border-white"
    >
      <svg
        class="fill-current h-5 w-5"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><title>Menu</title><path
          d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>

  <div
    class="w-full h-screen bg-black/75 -mt-20 z-10 lg:bg-transparent lg:m-0 lg:h-auto flex-grow lg:flex lg:items-center lg:w-auto hidden pt-6 lg:pt-0"
    id="nav-content"
  >
    <ul
      class="list-reset mt-40 lg:mt-8 lg:flex flex-1 items-center justify-center text-white flex flex-col lg:flex-row"
    >
      <li class="mr-3">
        <a
          class="inline-block text-5xl lg:text-sm font-sans font-semibold hover:underline py-2 px-2"
          href="/blog">BLOG</a
        >
      </li>
      <li class="mr-3">
        <a
          class="inline-block text-5xl lg:text-sm font-sans font-semibold hover:underline py-2 px-2"
          href="/projects">PROJECTS</a
        >
      </li>
      <li class="mr-3">
        <a
          class="inline-block text-5xl lg:text-sm font-sans font-semibold hover:underline py-2 px-2"
          href="/about">ABOUT</a
        >
      </li>
    </ul>
    <div class="flex relative p-4 lg:p-0 justify-center">
      <button
        class="block lg:absolute w-auto p-2 right-8 bg-white text-md font-bold rounded-2xl"
        ><a href="https://discord.gg/TQBJzfzt" class="w-full">CONTACT</a>
      </button>
    </div>
  </div>
</nav>
<style>
  .lead {
    line-height: 1em;
  }
</style>
<script is:inline>
  document.getElementById("nav-toggle").onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
  };
</script>
